.Sidebar{
    width:234px;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.995);

}
.sidebarwarp{
    padding-top: 30px;
}
.sidebaritem{
    padding: 0px;
    margin: 0px;
    list-style: none;
    
}
.sidebarlistitem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /* background-color:rgba(89, 43, 43, 0.171); */
    height: 40px;
    color: white;
    padding-left: 30px;
}
.sidebarlistitem:hover{
    background-color: rgba(107, 99, 99, 0.559);
    color: white;
}
.sidebaricon{
    margin-right: 15px;
    color: white;
    
}
.sidebaricon:hover{
    color: blue;
}
.line{
    color: white;
}



.onlinefirentlist{
        font-size: 25px;
        height: 40px;
        background-color: white;
        align-items: center;
       justify-content: center;
        display: flex;



}

.sidebarfrient{
    display: flex; /* Display items vertically */
    align-items: center; /* Center vertically */
    /* margin-bottom: 10px; Add spacing between items */
}
.frientimg{
    width: 40px; /* Set a width for the images */
    height: 40px; /* Set a height for the images */
    border-radius: 50%; /* Make the images circular */
    margin-right: 10px; /* Add spacing between the image and text */
}
.frientname {
    font-size: 14px; /* Adjust font size as needed */
  }
.circular-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }

  .online-content {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 10px;
    background-color: antiquewhite;
  }
  .title-vertical1{
    font-size: 20px;

  }
  /* .onlinedisplaybox{
    background-color: bisque;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
  } */
  